*{
    padding: 0;
    margin: 0;
}
body{display:flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pap.jfif);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align:center;
  
    color:#fff;
    align-items: center;
    justify-content: center;


}
input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.wrapper{
 
  
    
}
form{
    margin:5px;
}
hr{
   border:1.5px solid;
    margin:auto;
}
h1 {
    font-size:60px;
    letter-spacing: 15px;
    color:rgb(252, 3, 123);
}
p{
    color:rgb(47, 204, 120);
}